<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Shiny Diaries</title>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/styles.css">


</head>



<body>




  <div class="container-md log-in-container">
    <form action="/register" method="post">
      <!-- Register -->
      <div class="mb-2">
        <label for="Username" class="form-label">Username:</label>
        <input type="username" name="username" class="form-control text-light" style="background-color:#1C2333" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username" required>
      </div>
      <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Email address:</label>
        <input type="email" class="form-control text-light" name="email" style="background-color:#1C2333" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address" required>


      </div>
      <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Password:</label>
        <input type="password" class="form-control text-light" name="password" style="background-color:#1C2333" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Password" required>
      </div>
      <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Repeat password:</label>
        <input type="password" class="form-control text-light" style="background-color:#1C2333" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary mb-3 full-width" style="display: block">Sign up</button>

      <!-- Register -->
      <p class="mb-1" style="display:inline-block">
        Don have an account?
      </p>
      <a href="/">Sign in</a>
      <a href="#" style="display: block">Frogot password?</a>
      <hr>



    </form>

  </div>



<%- include('partials/footer'); %>
